@model Dish

@{
    ViewData["Title"] = "Confirmation";
}

<section class="text-center">
    <h1>Thank you @Model.Name! </h1>

    <h2> You have registered your dish with the following information:</h2>

    <div>
        Phone Number: @Model.Phone<br/>
        Dish: @Model.DishName<br/>
        @ViewBag.Description<br/>
        Category: @Model.Category<br/>
    </div>

</section>
